* {
  box-sizing: border-box;
  color: #e4e4e4;
  font-family: 'Roboto', sans-serif;
}
.flex_container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

header {
  background: #323142;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  color: #e4e4e4;
}
h6 {
  background-color: #1d1d25;
  padding: 0.2rem;
}
/* ______CONTACT LIST______ */
input {
  font: Roboto;
  border-width: 0px;
  font: 18px Arial;
}
.search {
  background: #262537;
  width: 17rem;
  height: 3rem;
  margin: 1rem;
}
.contacts_list {
  height: 100vh;
  overflow-y: scroll;
  background-color: #1d1d25;
  color: #fbf7f7;
  font-family: Roboto;
  width: 25%;
}
.list_items {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list_items > img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 0.5rem 1rem 0.5rem 1rem;
}

/* ______DETAILS______ */
.contact_details {
  background: #2a2730;
  height: 100vh;
  width: 75%;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  vertical-align: middle;
  padding: 6rem;
}
.contact_name {
  display: flex;
  flex-direction: row;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
}
.column > img {
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.row {
  padding: 2rem 0 0 0;
  height: 12rem;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
.row > div:nth-of-type(1) {
  text-align: right;
}
.row > div:nth-of-type(2) {
  padding-left: 3rem;
}
.column {
  float: left;
  width: 30%;
}
